@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: 'Mooli', sans-serif;
}

body {
  font-family: var(--primary-font);
  font-size: 1.2em;
  color: var(--text-dark);
  background-color: var(--text-light);
  margin: 0;
  padding: 0;
}

main {
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul li {
  margin: 0 10px;
}

.hide {
  display: none;
}

header {
  background-color: var(--primary-color);
  color: var(--text-light);
  text-align: center;
  padding: 1em 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

h1 {
  font-family: var(--secondary-font);
  font-size: 1.8em;
  margin: 0;
}

.menu-button {
  background-color: transparent;
  border: none;
  color: var(--text-light);
  font-family: var(--secondary-font);
  font-size: 1.5em;
  cursor: pointer;
  padding: 0.5em 1em;
  margin-top: 0.5em;
  display: block;
}

.viewer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-template-rows: auto 1fr;
}

.viewer img {
  max-height: 100%;
  max-width: 100%;
}

.close-viewer {
  color: white;
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}




a:link,
a:visited {
  padding: 0.5em;
  color: var(--text-light);
  text-decoration: none;
}

a:hover {
  background-color: var(--accent-color);
  text-decoration: underline;
}


h2 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 1.5em;
  margin-top: 0.5em;
}

.gallery {
  display: flex; /* Using Flexbox for default layout */
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

figure {
  margin: 0;
}

img {
  width: 150px; /* Image width */
  height: 150px; /* Image height */
  object-fit: cover; /* Crop the image to fit */
  border: 2px solid #ccc;
  cursor: pointer;
}

footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  text-align: center;
  padding: 1em 0;
  position: sticky;
  bottom: 0;
}

@media (min-width: 768px) {
  nav {
    display: flex; /* Show nav links on larger screens */
  }

  .menu-button {
    display: none; /* Hide menu button on larger screens */
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    display: grid; /* Use grid layout for larger screens */
    grid-template-columns: 1fr 1fr 1fr; /* Responsive grid columns */
    gap: 1em; /* Spacing between grid items */
    justify-content: space-between;
    
  }
}

