@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --primary-color: #13293D;
    --secondary-color: #eec584;
    --accent1-color: #002abc;
    --text-light1: #5dd8ff; 
    --text-dark1: #120e4e;
    --accent2-color: #009d1a;
    --text-light2: #45ffa5; 
    --text-dark2: #014214;
    --accent3-color: #9200d6;
    --text-light3: #fcd0f1;
    --text-dark3: #2f015d;
    --accent4-color: #979aa8;
    --text-light: white;
    --text-dark4: #4a4d58;
    --accent5-color: #ffd209;
    --text-light5: #fbf9d3;
    --text-dark5: #af7a00;
    --accent6-color: #f24900;
    --text-light6: #ffcfb1;
    --text-dark6: #981302;
    --accent7-color: #ff0000;
    --text-light7: #ffbfb7;
    --text-dark7: #500707;
    --font-primary: 'Roboto Condensed', sans-serif;
    --font-secondary: 'Titillium Web', sans-serif;
}

.home {
    text-align: center;
    padding: 50px;

}
header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1em 0;
    position: sticky;
    top: 0;
}

.logo {
  margin: 0;
  border: none;
}

nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

a:link, a:visited {
    padding: 1em
}


#menuItems li {
    margin: 10px 0;
    font-size: 1.5em;
}

#menuItems li a {
    text-decoration: none;
    color: var(--secodary-color);
    justify-content: space-between;
}

#menuItems li a:hover {
    text-decoration: underline;
    background-color: var(--accent1-color);
    color: var(--text-light);
}

.selectors {
    font-family: var(--font-secondary);
    font-size: 1.8em;

}

.selectors select{
    background-color: var(--primary-color);
}


body {
    font-family: var(--font-secondary);
    color: var(--secodary-color);
    margin: 0;
    padding: 0;


}

#character {
    padding: 20px;
    align-items: center;
}
#character img {
    width: 200px;
    margin-left: 70px;
    min-height: 275px;
    margin-top: 20px;
    object-fit: cover;
    border: 2px solid #ccc;
}

.modal-content img {
    width: 100%;
}

header img {
    min-height: 200px;
    max-height: 200px;
}

#wallpaper {
    width: 100%;
}

#article-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    padding: 20px;
    justify-content: space-between;
}  

.article {
    max-width: 400px;
}

h1 h2 h3 {
    font-size: var(--font-primary);
}

h2 {
    font-size: 1.8em;
    letter-spacing: 1px;
    text-align: center;
}
h3 {
    font-size: 1.5em;
    letter-spacing: 1px;
}

select {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#reset {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--font-secondary);
    font-size: 0.9em;
    padding: 16px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

#reset:hover {
    text-decoration: underline;
    background-color: var(--accent1-color);
    color: var(--)
}

p {
    font-size: 1.8em;
}

main p {
    text-align: center;
}

#images {
    display: flex;
    flex-wrap: wrap;
    
}

.council {
    width: 95%;
    padding: 10px;

}

.selectors {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 30px;
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    outline: none;
    transition: 0.4s;
    font-family: var(--font-primary);
    font-size: 1.8em;
}

.accordion.active, .accordion:hover {
    text-decoration: underline;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


#images img {
    max-height: 400px;
    padding: 30px;
    align-content: center;
    border: none;
}

.green {
    background: linear-gradient(180deg, var(--text-light2), var(--accent2-color), var(--text-dark2));
    color: white;
    border: none;
}
.blue {
    background: linear-gradient(180deg, var(--text-light1), var(--accent1-color), var(--text-dark1));
    color: white;
}

.purple {
    background: linear-gradient(180deg, var(--text-light3), var(--accent3-color), var(--text-dark3));
    color: white;
    border: none;
}

.yellow {
    background: linear-gradient(180deg, var(--text-light5), var(--accent5-color), var(--text-dark5));
    color: white;
    border: none;
}

.orange {
    background: linear-gradient(180deg, var(--text-light6), var(--accent6-color), var(--text-dark6));
    color: white;
}

.unknown, .none {
    background: linear-gradient(180deg, white, var(--accent4-color), var(--text-dark4));
    color: var(--text-light);
    border: none;
}

.red {
    background: linear-gradient(180deg, var(--text-light7), var(--accent7-color), var(--text-dark7));
    color: white;
    border: none;
}

.titles {
    text-align: center;    
}

#characterReferences, #imageReferences {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
    padding: 20px;
}